/*aplicando css global*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
/*aplicando css al encabezado*/
#logo{
    width: 50%;
    margin: auto;
    padding-top: 10px;
}
#menu{
    text-align: center;

}



/*aplicando comportamiento responsive*/
/*trabajando con css grid*/
@media (min-width: 768px) {
#encabezado{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
#menu{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#opcionesIzquierdo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#opcionesDerecho{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#galeria{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10px;

}
}
@media (min-width: 1200px){

}
